/* You can add global styles to this file, and also import other style files */
@import "~ngx-toastr/toastr.css";
:root {
  --color-primary: rgb(8, 79, 154);
  --color-lightness-1: rgb(17, 105, 200);
  --color-lightness-2: #2489F4;
  --color-lightness-3: #2F80ED;
  --color-lightness-4: rgb(24, 158, 255);
  --color-lightness-5: rgb(193, 231, 255);
  --color-red: red;
  --color-red-dark: #C92127;
}



html {
  margin: 0;
  padding: 0;
  font-size: 15px;
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.btn {
  text-decoration: none;
  border: none;
  background-color: var( --color-primary);
  color: #fff;
  cursor: pointer;
  border-radius: 4px;
  padding: 8px 16px;
  display: inline-block;
  text-align: center;
}

.btn-fill {
  background-color: var( --color-primary);
  color: #fff;
}

.btn-outline {
  background-color: #fff;
  color: var( --color-primary);
  outline: 2px solid var( --color-primary);
  font-weight: bold;
}

.btn-outline:hover {
  background-color: rgb(8, 79, 154);
  color: #fff;
}

.color-blue {
  color: var(--color-lightness-2) !important;
}
.color-333 {
  color: #333333 !important;
}
.color-red {
  color: red !important;
}
.color-black {
  color: #000 !important;
}
.fs-14 {
  font-size: 14px !important;
}
.fs-12 {
  font-size: 12px !important;
}
.fw-bold {
  font-weight: bold;
}
ul {
  padding-left: 0;
  margin: 0;
}
li {
  list-style: none !important;
}
a {
  text-decoration: none !important;
}
.d-flex {
  display: flex;
}
.d-flex-justify-center {
  display: flex;
  justify-content: center !important;
}
.d-flex-justify-sp-between {
  display: flex;
  justify-content: space-between !important;
}
.d-flex-align-center {
  display: flex;
  align-items: center !important;
}
.d-flex-center-all {
  display: flex;
  justify-content: center;
  align-items: center;
}
.d-flex-direction-column {
  display: flex;
  flex-direction: column !important;
}
.w-100 {
  width: 100%;
}
.row {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
}

.col-1-2 {
  flex: 0 0 10%;
  max-width: 10%;
}
.col-2 {
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}
.col-2-4 {
  flex: 0 0 20%;
  max-width: 20%;
}
.col-3 {
  flex: 0 0 25%;
  max-width: 25%;
}
.col-4 {
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}
.col-5 {
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
}
.col-7 {
  flex: 0 0 58.333333%;
  max-width: 58.333333%;
}
.col-8 {
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}
.col-9 {
  flex: 0 0 75%;
  max-width: 75%;
}
.error {
  color: red;
}
.text-align-center {
  text-align: center;
}

.position-relative {
  position: relative;
}
.ml-8 {
  margin-left: 8px;
}
.mf-8 {
  margin: 8px;
}
.ml-16 {
  margin-left: 16px;
}
.mt-4 {
  margin-top: 4px;
}
.mt-8 {
  margin-top: 8px;
}
.mt-16 {
  margin-top: 16px;
}
.mb-8 {
  margin-bottom: 8px;
}
.mb-16 {
  margin-bottom: 16px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mg-auto {
  margin: 0 auto !important;
}
.pt-8 {
  padding-top: 8px;
}
.pt-16 {
  padding-top: 16px;
}
.pb-8 {
  padding-bottom: 8px;
}
.pf-8 {
  padding: 8px;
}
.border-none {
  border: none !important;
}
.border-radius-none {
  border-radius: 0 !important;
}
.of-hidden {
  overflow: hidden;
}

@media (min-width: 992px) {
  .container  {
    max-width: 1200px;
    margin: 0 auto;
  }
}
/* Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes growth {
  from {
    transform: scale(0.7);
  }
  to {
    transform: scale(1);
  }
}

.body {
  background-color: rgb(237, 237, 244);
}
.content-body {
  padding: 20px 0 30px;
}

.component {
  padding: 20px;
  border-radius: 8px;
  background-color: #fff;
  margin-bottom: 30px;
}

.component-header {
  font-size: 17px;
  font-weight: bold;
  text-transform: uppercase;
  color: #333333;
  padding-bottom: 16px;
}

.icon-star-fill {
  color: rgb(253, 216, 54);
  font-size: 12px;
}
.icon-star-no-fill {
  color: rgb(199, 199, 199);
  font-size: 12px;
}

.modal {
  /* display: flex; */
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  animation: fadeIn linear 0.1s;
  display: none;
  z-index: 1;
}

.modal-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-container {
  position: relative;
  z-index: 1;
  animation: growth linear 0.1s;
  background-color: #fff;
  margin: 20px auto 0;
  border-radius: 4px;
  box-shadow: 0 2px 2px rgb(95, 95, 95);
}
.modal-header {
  display: flex;
  align-items: center;
}
