<div *ngIf="isLogin !=true" class="body">
  <div class="container content-body">
    <div>
      <div id="template-mo-zay-hero-carousel" class="carousel slide" data-bs-ride="carousel">
        <ol class="carousel-indicators">
          <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="0" class="active"></li>
          <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="1"></li>
          <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container">
              <div class="row p-5">
                <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                  <img class="img-fluid" src="https://image.thanhnien.vn/w2048/Uploaded/2022/ycwkdqmb/2022_11_30/tuyen-vn-bvb-dau-tien-dat-04-5407.jpg" alt="">
                </div>
                <div class="col-lg-6 mb-0 d-flex align-items-center">
                  <div class="text-align-left align-self-center">
                    <h3 class="h2">HLV Dortmund ấn tượng cách chơi bóng cống hiến của tuyển Việt Nam</h3>
                    <p>
                      HLV Edin Terzic của CLB Dortmund khá thất vọng khi thua tuyển Việt Nam 1-2 ở những phút cuối nhưng cũng dành những lời khen ngợi đến màn trình diễn của thầy trò HLV Park Hang-seo tại Mỹ Đình hôm nay. <a rel="sponsored" class="text-success" href="https://templatemo.com"
                                                           target="_blank">Sản phẩm</a> phân phối độc quyền tại
                      <a rel="sponsored" class="text-success" href="https://icons8.com/" target="_blank">Beeway</a>.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- mid Banner Hero -->
          <div class="carousel-item">
            <div class="container">
              <div class="row p-5">
                <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                  <img class="img-fluid" src="https://image.thanhnien.vn/w2048/Uploaded/2022/dbeyxqxqrs/2022_11_29/000-32vx4ay-2730.jpg" alt="">
                </div>
                <div class="col-lg-6 mb-0 d-flex align-items-center">
                  <div class="text-align-left">
                    <h3 class="h2">FIFA chính thức trả lời bàn thắng bị tước của Cristiano Ronaldo</h3>
                    <p>
                      FIFA đưa ra thông báo sau khi có xác nhận từ hãng sản xuất quả bóng chính thức cho World Cup 2022, khẳng định các cảm biến gắn trong quả bóng với công nghệ kết nối không nhận được bất cứ ngoại lực nào từ pha nhảy lên đánh đầu của Cristiano Ronaldo từ quả tạt của Bruno Fernandes.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- mid Banner Hero -->
          <div class="carousel-item">
            <div class="container">
              <div class="row p-5">
                <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                  <img class="img-fluid" src="./assets/image/combo-1.png" alt="">
                </div>
                <div class="col-lg-6 mb-0 d-flex align-items-center">
                  <div class="text-align-left">
                    <h3 class="h2">Làm thế nào để kiếm thật nhiều tiền?</h3>
                    <p>
                      Cần biết rằng, đa số người giàu dành ít nhất 30 phút mỗi ngày để đọc sách. Nếu sách vở giúp ích cho
                      người giàu đến vậy, nó cũng sẽ giúp ích cho bạn.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev text-decoration-none w-auto ps-3" href="#template-mo-zay-hero-carousel" role="button"
           data-bs-slide="prev">
          <i class="fas fa-chevron-left"></i>
        </a>
        <a class="carousel-control-next text-decoration-none w-auto pe-3" href="#template-mo-zay-hero-carousel" role="button"
           data-bs-slide="next">
          <i class="fas fa-chevron-right"></i>
        </a>
      </div>
      <!-- End Banner Hero -->
    </div>


  </div>
</div>



<div *ngIf="isLogin ==true" class="body">
  <div class="container content-body">
    <table class="table">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
