<div class="body">
  <div class="container content-body">
    <div class="row">
      <div class="col-3">
        <div class="sidebar">
          <div class="sidebar-header">Tài khoản</div>
          <ul class="list-select">
            <li>
              <a href="">Thông tin tài khoản</a>
            </li>
            <li>
              <a href="">Đổi mật khẩu</a>
            </li>
            <li>
              <a href="">Đơn hàng của tôi</a>
            </li>
            <li>
              <a href="">Ví voucher</a>
            </li>
            <li>
              <a href="">Nhận xét của tôi</a>
            </li>
            <li>
              <a href="">Thông báo</a>
            </li>
            <li>
              <a href="">Đăng ký nhận tin điện tử</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-9">
        <div class="component">
          <div class="component-header">Thông tin tài khoản</div>
          <div class="component-body">
            <form action="">
              <div class="row d-flex-align-center mb-20">
                <div class="col-3">
                  <label class="form-label" for="name">
                    Họ và tên
                    <span>(*)</span>
                  </label>
                </div>
                <div class="col-9">
                  <input type="text" class="form-control" id="name">
                </div>
              </div>

              <div class="row d-flex-align-center mb-20">
                <div class="col-3">
                  <label class="form-label" for="idCard">
                    Chứng minh nhân dân
                    <span>(*)</span>
                  </label>
                </div>
                <div class="col-9">
                  <input type="text" class="form-control" id="idCard">
                </div>
              </div>

              <div class="row d-flex-align-center mb-20">
                <div class="col-3">
                                        <span class="form-label" for="">
                                            Giới tính
                                            <span>(*)</span>
                                        </span>
                </div>
                <div class="col-9 gender-wrapper">
                  <input type="radio" name="gender" value="true" id="male">
                  <label for="male">Nam</label>
                  <input type="radio" name="gender" value="false" id="female">
                  <label for="female">Nữ</label>
                </div>
              </div>

              <div class="row d-flex-align-center mb-20">
                <div class="col-3">
                  <label class="form-label" for="birthday">
                    Ngày sinh
                    <span>(*)</span>
                  </label>
                </div>
                <div class="col-9">
                  <input type="date" class="form-control" id="birthday">
                </div>
              </div>

              <div class="row d-flex-align-center mb-20">
                <div class="col-3">
                  <label class="form-label" for="email">
                    Email
                    <span>(*)</span>
                  </label>
                </div>
                <div class="col-9">
                  <input type="text" class="form-control" id="email">
                </div>
              </div>

              <div class="row d-flex-align-center mb-20">
                <div class="col-3">
                  <label class="form-label" for="phone">
                    Số điện thoại
                    <span>(*)</span>
                  </label>
                </div>
                <div class="col-9">
                  <input type="text" class="form-control" id="phone">
                </div>
              </div>

              <div class="row d-flex-align-center mb-20">
                <div class="col-3">
                  <label class="form-label" for="address">
                    Địa chỉ
                    <span>(*)</span>
                  </label>
                </div>
                <div class="col-9">
                  <input type="text" class="form-control" id="address">
                </div>
              </div>
              <div class="row d-flex-justify-center">
                <button class="btn btn-fill btn-save" type="submit">Lưu thay đổi</button>
              </div>
            </form>
          </div>
        </div>
        <div class="component">
            <div class="component-header">
                Đổi mật khẩu
            </div>
            <div class="component-body">
                <div class="row d-flex-align-center mb-20">
                    <div class="col-3">
                        <label class="form-label" for="oldPassword">
                            Mật khẩu hiện tại
                            <span>(*)</span>
                        </label>
                    </div>
                    <div class="col-9">
                        <input type="text" class="form-control" id="oldPassword">
                    </div>
                </div>

                <div class="row d-flex-align-center mb-20">
                    <div class="col-3">
                        <label class="form-label" for="newPassword">
                            Mật khẩu mới
                            <span>(*)</span>
                        </label>
                    </div>
                    <div class="col-9">
                        <input type="text" class="form-control" id="newPassword">
                    </div>
                </div>

                <div class="row d-flex-align-center mb-20">
                    <div class="col-3">
                        <label class="form-label" for="confirmPassword">
                            Nhập lại mật khẩu mới
                            <span>(*)</span>
                        </label>
                    </div>
                    <div class="col-9">
                        <input type="text" class="form-control" id="confirmPassword">
                    </div>
                </div>
                <div class="row d-flex-justify-center">
                    <button class="btn btn-fill btn-save" type="submit">Lưu thay đổi</button>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
